<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>           
            <rules>
                <rule name="rule 1r" stopProcessing="true">
					<match url="^$"  />
					<action type="Rewrite" url="/app/webroot/"  />
				</rule>
				<rule name="rule 2r" stopProcessing="true">
					<match url="(.*)"  />
					<action type="Rewrite" url="/app/webroot/{R:1}"  />
				</rule>
				<!--<rule name="rule 1n" stopProcessing="true">
					<match url="^$"  />
					<action type="Rewrite" url="/app/webroot/"  />
				</rule>
				<rule name="rule 2n" stopProcessing="true">
					<match url="(.*)"  />
					<action type="Rewrite" url="/app/webroot/{R:1}"  />
				</rule>-->
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
